<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj nowy trening</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Dodaj nowy trening</h1>
    <form action="/add" method="POST">
        <label for="name">Nazwa:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="type">Rodzaj:</label><br>
        <select id="type" name="type" required>
            <option value="kardio">Kardio</option>
            <option value="siła">Siła</option>
            <option value="elastyczność">Elastyczność</option>
            <option value="równowaga">Równowaga</option>
        </select><br>
        <label for="intensity">Intensywność:</label><br>
        <select id="intensity" name="intensity" required>
            <option value="niska">Niska</option>
            <option value="średnia">Średnia</option>
            <option value="wysoka">Wysoka</option>
        </select><br><br>
        <button type="submit" class="dodaj">Dodaj</button>
    </form>
</body>
</html>
